.submenu__wrapper {
	display: flex;
	align-items: flex-start;
	width: 100%;
	max-width: 960px;

	margin: 0 auto;
	padding: 35px 10px;
}

.submenu__list {
	list-style-type: none;
	margin-right: 105px;
}

.submenu__list-right-column {
	margin-right: 0;
}

.submenu__list-right-column a {
	font-weight: 400;
}

.submenu__link--font {
	font-weight: 600 !important;
}

.submenu__item {
	margin-bottom: 5px;
}

.submenu__link {
	padding-left: 15px;

	background: url("../img/li.png") no-repeat;
	background-position: left center;

	font-family: "Segoe UI", "Arial", sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 600;
	color: #6f4834;
}

.submenu__link:hover,
.submenu__link--active {
	font-family: "Segoe UI", "Arial", sans-serif;
	font-size: 16px;
	line-height: 24px;
	color: #b38b58;
}

@media screen and (max-width: 960px) {
	.submenu__wrapper {
		justify-content: space-between;
		width: 680px;
		margin: 0 auto;
		padding: 35px 10px 35px 0;
	}

	.submenu__list {
		margin-right: 0;
	}
}

@media screen and (max-width: 790px) {
	.submenu {
		display: none;
	}
}
